<script type="text/javascript">
    function drawStylePickCountResults() {
        var data = google.visualization.arrayToDataTable([
            ['Answer', 'Count'],
            ['Club was close',188],
            ['A friend / family already trained there',138],
            ['Good atmosphere at club(s)',89],
            ['Instructor appeared to know what they were talking about',89],
            ['Recommendations via the internet',7],
            ['Other',55]
        ]);

        var options = {
        };

        var chart = new google.visualization.PieChart(document.getElementById('stylepick'));

        chart.draw(data, options);

    }
</script>