<script type="text/javascript">
    function drawTrainHomeCountResults() {
        var data = google.visualization.arrayToDataTable([
            ['Times', 'Count'],
            ['1',41],
            ['2',123],
            ['3',85],
            ['4',32],
            ['5',33],
            ['6',10],
            ['7',16],
            ['8',2],
            ['9',0],
            ['10',7]
        ]);

        var options = {
            chartArea: {width: '50%'},
            hAxis: {
                minValue: 0
            },
            legend: { position: "none" }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('trainhomecount'));

        chart.draw(data, options);
    }
</script>