<script type="text/javascript">
    function drawGradeResults() {
        var data = google.visualization.arrayToDataTable([
            ['Grade', 'Count'],
            ['Beginner to 5th Kyu',20],
            ['5th Kyu to 1st Kyu',69],
            ['1st Dan',87],
            ['2nd Dan',63],
            ['3rd Dan',55],
            ['4th Dan',41],
            ['5th Dan or above',55],
        ]);

        var options = {
            chartArea: {width: '50%'},
            hAxis: {
                minValue: 0
            },
            legend: { position: "none" }
        };

        var chart = new google.visualization.BarChart(document.getElementById('gradegradegrade'));

        chart.draw(data, options);
    }
</script>


