<details><summary>**If yes, please elaborate on what they are and, if possible, why they don't appear on the syllabus** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<span class="text_list">
<p>

* Self protection 
* They don't appear because I have physical limitations that preclude me from training/teaching them effectively, if I can't do them then I can't realistically grade my students on them. However, I do point out that these holes are there and recommend people that my students can train with if they so wish. This is not a requirement of grading.
* Self defence awareness and law
* Live drilling with body armour and Environment fighting
* Practical Karate - Self protection - 
* Applied karate
* More throws, ground work
* I'd like to be taught more applied karate but my local class is heavily traditional
* Avoidance and awareness, I find it difficult to discuss and implement it in drills in the dojo.
* Always been interested in traditional weaponry but never had a feasible opportunity to do so. Is not and should not be part of Karate syllabus because Karate is all about open hand (and I would argue incidental weapons), not about formal weapons training.
* Better responses - everything is constantly being refined.
* I would like to learn weapons training however since our club isn't weapons based (I'm unsure if the instructor is trained in many weapons themselves) and we focus mostly on close quarters bunkai so it isn't taught. 
* More practical skills
* Further competition elements 
* Bunkai/applications at all gradings with exception possibly of first grading for a personal choice it would be to habitual acts of violence. Pad work be it grading combinations or random drills. Groundwork and standing grappling. This doesn’t appear as it’s not deemed proper shotokan and no one else’s teaches this sort of material.
* would like to include practical training but the association is a sport karate lead so only teach practical karate as and when  
* Groundwork, firearms, variety of throws and takedowns
* Bunkai, grappling, application
* More ground work. Not enough time
* More applied based focus lessons 
* The culture does not actively encourage change, although likes to promote the idea. 
* More work around De Escalation, the law etc around self defence 
* More relation to real violence 
* Pressure testing bunkai, kata based sparring.  Instructors aren’t trained in it, little change to syllabus from chief instructor downwards.
* Bunkai to be part of the grading syllabus earlier. Currently it is part of the 5th Dan and above gradings 
* Aspects of self defence (realistic), practical kata bunkai
* More self defence in depth.Less sport karate
* More work on reality based scenario training 
* syllabus feels narrow without 'realistic' bunkai; padwork; kakie etc.; quite competition and 'perfect JKA-form' focused.
* Greater application of kata techniques in sparring
* Bunkai
* Grappling techniques, more holds and locks that haven't been part of my karate up bringing. I am trying to include these now by self learning. Getting on courses is tricky with a young family and the distances are usually to far for me to travel
* Ground work, break out of holds.
* Grappling applications
* Grappling applications
* Throws
* Pressure testing Bunkai & greater emphasis on self defence, including awareness, avoidance & escape. 
* I always want more! I think it would benefit all karateka if there was more groundwork/ takedowns/ grapping/ self defence in the syllabus 
* Contact sparring for adults
* Awareness/Avoidance/De-escalation/pre-emptive strikes/Throws/Ground work/law & legal elements.  My club currently teaches in a 3K style with minimal crossover. However through the introduction of Iain Abernethy seminars, DVDs and YouTube clips, the instructors are slowly begining to teach more practical karate. The syllabus will take time to be changed as the head instructor is far from looking at change. 
* I study, in my own time, a lot of the skills in the previous list, ie law, de-escalating technique, aftermath effect etc. I don't rely on my club to provide everything and find it has groups that are actively doing this also. 
* Weapons training, this doesn’t currently appear because of Dojo budget & cost of items. 
* I would like to see a return to senior grades being tasked to demonstrate bunkai and/or self defence on the spot to test understanding and adaptability. I also feel breakfalls and basic throws/sweeps and groundwork should be taught and tested. 
* bokken
* Practical application to the art. The association my club is part of is massively lacking in any actual practical training.
* more ground work
* Pressure testing...applying self defence whilst being screamed at, in a way that you find on the street. 
* More self-protection elements eg de-escalation, legal implications etc
* Syllabus entirely focused on "3K" Karate - in an ideal world more practical content would be taught (but this is very much wishful thinking)
* Ground work
* Bunkai, emphasising the grappling aspects and close quarters combat of Wado Ryu 
* More practical application of kata 
* Kata based sparing
* Grappling & Throws
* Self defence 
* Practical self defence with pressure 
* Throws in karate 
* Freefoghting
* Defence against weapons, sparring with weapons, breaking boards
* Almost all students are children, and therefore we tend to not have time / capacity / ability to do more advanced or abstract things. With larger dedicated adult groups there'd probably be more scope.
* Legal elements and post incident consequences
* Practical bunkai is taught at classes I attend, however it is not yet part of the gradings. I think it is moving towards including this in gradings, especially senior grades, however it is not there yet. I would also like more teaching about the internal aspects of karate, fluidity, breathing, relaxation and power generation.
* Pressure testing
* Self protection, bunkai and kata based sparring (I initially trained for 6 years in Iain Abernethy's local club and would like to bring more elements into my current organisation)
* I’d like to learn more about power delivery, developing a ‘one hit kill’ type strike. 
* Legality of self defence. 
* Bunkai
* More time on bunkai
* Health aspects like Qi Gong 
* Pinan kata were stripped from the syllabus so that focus is stronger on the Naihanchi katas. Naihanchi shodan is the grading kata for 9th Kyu. Our syllabus bunkai revolves strongly around the three katas up to 4th kyu when other kata are introduced. 
* Bunkai is taught, but only if any given instructor feels like it. Talks are happening in senior leadership about potentially including it in Dan tests.
* I would like to put some more Judo techniques in my syllabus throws grappling whilst standing.
* More real world scenarios
* Practical bunkai , self defence
* Weapons (kubodo)
* I dont know yet, as my knowledge grows (as i teach and learn) there will always be room for improvements. " a pond that has no running water coming in and out will quickly become stagnant!"
* More kata application
* Pressure testing, applied bunkai
* throws and more aspects or self defence 
* Would incorporate some Tai Chi to compliment dynamic Shotokan techniques
* We would like to have more throwing and groundwork on the syllabus, but we only have one 2-person mat for the whole dojo and don't have the funds to buy more. 
* more realistic bunkai
* More self defence
* Kata-based sparring, more systematic approach to avoidance, de-escalation, etc. 
* Ground work
* Weapons
* Throws and ground work
* Weapons training 
* Groundwork
* REALISTIC BUNKAI, THE TEACH ONLY LONG DISTANCE COUNTER MOVES
* I'd like to further expand on scenario training to better simulate environments typically where violent confrontation is likely to occur (take clubs and bars for example) which is difficult to do with limited space and prop equipment.
* 5/3/1 step sparring: time restrictions. Bunkai sparring/pressure testing: not practiced enough
* Throwing and groundwork 
* WKF Competition. Lack of experience. 
* I would enjoy more sparring, however given the size of the club, and some students circumstances, it is not always appropriate.
* Practical applications, self protection
* I've said no to above because basically happy, but would be open to new aspects (ie. 'no' doesn't mean 'I've got everything', more like it's all I can handle atm!)
* Applied karate and bunkai is only touched apon . 
* Bunkai
* Ground work
* Ground work
* More kata application work. More ‘real life’ applications. 
* Ground work - not perceived to be part of Karate
* Weapons training and extra floor work. It is not always suitable to talk and train with weapons with young children around. Limited funds for equipment has a part to play. 
* We don't punch to the face and I'd like to learn more boxing technique
* More application, kata based sparring, ground work
* More applied karate. Not the interest of chief instructor.
* Practical bunkai & flow drills. Most club instructors are firmly in the traditional camp and not inclined to teach the more adventurous stuff.
* Kobudo, because I don’t have enough experience in kobudo
* self-defence
* Bunkai Kata based sparring applied karate pad work real self defence impact drills
* More defence against weapon attacks and impacts of violence regarding the law
* More competition kumite as there is an interest from the students. More “realistic” defense/offense as opposed to traditional one step sparing - still too much emphasis on how would you react to a single karate straight punch to the head
* Ground fighting and more practical applications. 
* Not so much additional but I'd like to do more of somethings and less of others but the fantastic thing about karate is that it is so diverse.
* More ground work 
* another style 
* Grappling... 
* Kata bunkai 
* Throws and ground work
* Weapons defence, more self defence, more bunkai
* More self protection 
* Ground work 
* Inclusion 
* More practical self defence, sometimes I feel like what we are taught isn't really pressure tested or doesn't feel realistic, like we can easily stop a technique whilst its being applied
* Conditioning techniques, teaching appropriate contact force, correct use of protective equipment e.g mit/mouth guard etc, sportsmanship, greater level of correction with children - if they learn it wrong at 4 years but expect them to execute a technique perfectly at 1st Kyu - this must be taught and corrected from white belt
* Practical Applications/Drills.  Syllabus is currently 3K based - no real life aspects.
* More self defence, weapon work, grapples, ground work
* More traditional self-defence, realistic scenario training.
* Breaking as I was good at this when I did Tae Kwon Do 
* More practical self defence techniques and drills, they don’t appear as the club has always been competition focused
* More sparring
* Pressure testing
* Contact scenario training with full protective equipment, a la John Titchen's courses. Cost of the equipment is the main element preventing it. 
* Syllabus still to incorporate bunkai in a systematic way
* More realistic/extended fight experience (instead of 1 step). To build resilience, courage.i think club is paranoid to include techniques derived from Sport training 
* Bunkai and pressure testing. Ground work. No idea why they weren’t included. Instructor is in squad for KUGB so much is aligned to that. 
* More self defence
* I want to teach more practical application of kata plus kata based sparring and pressure testing and wish this could be built into the syllabus
* Ground work but it is outside the syllabus
* You never stop learning 
* Our syllabus covers the "core" and general elements that we are expected to know. This is by no means a limitation on what we train from club to club. We are very much expected to make our karate our own, they syllabus just provides a core frame work to build upon. For example, recently weapons are being taught more frequently as people have found this interesting, but this is not  a graded part of the syllabus.
* More practical bunkai
* Principles. E.g. why joint locks work vs list of techniques from kata 
* More Goju Ryu practice. Locality prevents
* Bo kata, throws, joint locks
* Not currently on the club syllabus
* I would like to to see padwork, grappling, self defence and proper combative application of kata in both syllabus and grade.
* I would like to incorporate more kata based and live sparring
* Practical applications, realistic self defence, scenario training, legal aspects
* Application, throws, groundwork, locks, chokes etc
* Groundwork 
* Environment fighting
* More self defence and practical skills based in realistic situations. 
* Personally I'd like the inclusion of throws in practical Bunkai. The syllabus is not in my control and lack of floor matting doesn't help.
* Pad work, application of late techniques 
* More practical karate, not taught because lack of experience. 
* Kata based sparring, not enough knowledge.
* More practical content
* Ground work.   Locks.  Power development 
* Weapons no bokken 
* Habitual Acts of Violence, De-escaltion, Legal aspects
* To put it simply anything involving application. More bunkai, joint locks, pressure testing, freestyle sparring, actual self defense for realistic situations. Our gradings are very traditional and when we mention anything not covered in our syllabus our head instructors usually responds with "Its not JKA".....as if that matters. 
* Silat 
* I would personally like to tailor the syllabus to a more realistic and holistic approach 
* Weapons. No one with expertise at club

</p>
</span>
</details>