<details><summary>**Other single responses** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<span class="text_list">
<p>

* Branching off of old club
* Change of association. Olympics and the streamlining of different associations
* Desire for greater cross-regional consistency for gradings
* Having worked under same syllabus for many years
* Improve grading process beginner kids
* Injury required an amendment to the grading requirements
* Introduce mon grading for young students
* Involves bunkai and pressure tests
* Just over a year ago
* My own training and belief in the martial arts has changed. I believe a syllabus should be reviewed from time to time in order to adapt to changing circumstances.
* New club learning from experience
* Our little group split from a larger group in order to make our karate more pragmatic, less sport, less punching air, etc. The syllabus is being worked on but progress is slow.
* The Sensei mentioned that some of the katas were changed but he did not say when
* There is a desire to improve what we do for lower and higher grades and although we base the syllabus on wado we do deviate from it
* to building in movement from 7th kyu up
* To make it more relevant in relation to 10th - 8th kyu
* To rebalance the dan grade requirements
* Went from teaching in heiko datchi for all grades

</p>
</span>
</details>