<details><summary>**If no why not?** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<span class="text_list">
<p>

* I would do but having a lil boy has changed my training and my freedom to do what i want.
* Work commitments
* unable to travel
* Time restraint 
* http://emptyhandway.blogspot.com/2014/12/karate-seminars-value-for-knowledge.html
* Not aware of any, no time
* Time
* We try, again it is difficult with a young family. However we do make a conscious effort with competitions, but the attention is now to seminars. But again, most are a long way to travel
* Not aware of any 
* Used to but time is limited presently 
* Location 
* Not at high enough level yet 5th kyu.
* Time
* Hasn't happened for me yet 
* Usually distance/cost.
* Not high enough grade yet
* Never see any advertised near Inverness 
* Haven't had time yet
* I work most weekends
* None that i have been able to attend 
* I would like to, but haven't been able to due to other commitments
* Time restrictions 
* Not had the chance or cost too much.
* Time 
* Club offers many additional guest trainers and events
* THIS IS NOT ALLOWED IN OUR GROUP
* Fear of not fitting in
* Limited training time 
* Time
* No time
* Time
* I'm too old and tired now, but I used to
* Expensive, have other commitments 
* I do not feel comfortable 
* Little visibility of courses .. also a lack of time to do it
* not enough time
* Expensive. 
* Expensive. 
* Time restrictions 
* Would like to. Often run on same day I teach.
* Not aware of them
* Cost and availability
* Confidence 
* Usually too far away
* None near by
* Not aware of them
* Money and time
* Too junior
* Time 
* There are not the seminars locally that there used to be.
* Time constraints.
* Travel reasons 
* I'm not really aware of any that I would be able to go to. 
* Not enough local to area in time ive been doing it
* Experience/grade/skill level
* Not got the confidence 
* Would like to but none close
* No need, too young
* Time/cost
* No need, too young
* Haven't been invited, also time pressure. Our club would probably welcome it. We took the instructors group to Okinawa to train under Tetsuhiro Hokama Hanshi
* Geographical isolation 
* Not promoted
* cant make the extra time
* Convenience
* Used to but now unless it is someone I really want to train with I don't have the time. 
* Aiming to attend some soon 
* Happy with current commitment level
* Cost of travel from Northern Ireland

</p>
</span>
</details>