<details><summary>**Other single responses** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<p>

* Club changed direction
* Culmination of many years training with/under various teachers and in various styles and systems.
* Dojo changed
* Gave up karate for a number of years & in returning new club was close to home.
* I gave up in my 20s, due to work, I also trained in Wado Ryu briefly, had the same problem, then in my 40s started again at a local class, and I am still training.
* Instructor emigrated
* It was real self defense
* Lack of experience with the instructors in the club
* Mis read last question
* Natural development
* natural progression making the karate fit me rather than the other way round. based on Functionality rather than form.
* Old club was a mcdojo
* Personal circumstances changed (e.g. new job, moved house), The instructor left.
* Quality of training was good but frustrated by mixed class with children
* stronger style
* The dojo split from GKR
* To explore a more practical approach
* Training very brutal back in the 1960s and mainly sport orientated
* Wanted to explore a different direction in my training, Plus I wanted to compete in full contact
* Wanted to explore a different direction in my training, The previous style was only practiced in a small area, also returning to martial arts after a few years out I wanted a more traditional style with less emphasis on competitions
* Wanted to focus on practical application of Karate for self protection

</p>
</details>