<details><summary>**Other single responses** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<span class="text_list">
<p>

* Any style
* Applied Karate & Kickboxing
* Applied karate based on Shotokan
* DART
* Goju/Shotokan fusion
* Jikoboei-Ryu - Based on Shukokai and Shotokan Karate
* Jiu-jitsu and silat and lil bit of kung fu
* Just an open style.
* Jutsu
* Karate
* Kempo
* Kokorai
* Koryu or "old style" that fits me better. I suppose I don't actually train within the confines of any one "style" anymore
* Kumite
* Kyokushin Budokai
* Mixture of Shotokan and Shito Ryu Katas are studied
* Nishikan
* None of the above, we still base our style on shotokan but have dropped many elements of the “traditional” style.
* Okinawan karate
* Old.
* Practical Karate
* Practical Karate BCA
* Sama karate
* Shindo Jinen Ryu
* Shodan Martial Arts Academy
* Shorin-Ryu
* Shotokai
* Shotokan & Goju Ryu & Practical Karate
* Shotokan & Goju ryu Mix
* Shuhari Karate-Jutsu
* Sports wado-ryu as opposed to traditional wado-ryu
* Tekio Cempa Martial Arts
* Ti
* Tode Jutsu
* Wado And shotokan
* Wado-Kai
* Wado/shukokai hybrid

</p>
</span>
</details>