<details><summary>**Other single responses** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<span class="text_list">
<p>

* Our own local club is very open, our instructor has no issues and has recommended numerous instructors external to our association. However our Head instructor(for the country) has kicked people out of the association for training with other organisations.  
* Not sure
* Not discouraged 
* I'd say we are encouraged to find outside things, but it'd be at the discretion of the Sensei to allow us to go.
* I think opinions would be divided as there is a strong sense of needing to support  our own association, which I understand but personally I would support external courses too, particularly where it adds value to the meaning and application of karate and breaking down the barriers between styles. Together is stronger.
* Can be difficult 
* As and when opportunity arises - have previously gone to a lot of effort to travel to seminars where the standard was not as high as our own association

</p>
</span>
</details>