<details><summary>**Please detail any other aspects of self protection that your club / association teaches that were not listed above** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<span class="text_list">
<p>

* Age and sex specific classes
* Annual self def courses are offered to recruit new entrants
* Anti rape drills 
* Attitude, conduct and character as part of avoidance.
* Common elements of gender specific violence; i.e: When girls attack girls, when men attack women, when men attack men etc. 
* Escape
* Hand wrist grabs above cant select
* I was 30 years in the police Firearms officer and self defence instructor. All aspects can be covered but I'm a realist.
* Krav Maga
* Male Vs female HAOV.  Dealing with enclosed areas, street positioning etc.
* Please detail any other aspects of self protection that your club / association teaches that were not listed above
* Preferred system of a number of Police forces
* protecting others
* Reasonable force/types of offender 
* Scenario days - ad hoc
* Specific classes for kids.  
* Striking points and effect of such.
* The effects of Adrenalin on the body, FEAR and the sympathetic nervous system and how it works, controlling Fight or Flight (or freeze)
* These are not taught as part of a normal class. 
* Use of force in self defence (it can't be described as a counter assault if it is legal (terminology is important) and all drills actions trained and developed are designed to fit threat perceptions and be deemed reasonable force under UK Law.
* We realize that whilst karate is more useful than not, we don’t teach self defense or self protection 
* We teach techniques that are included above but staying away from calling it self defence

</p>
</span>
</details>