<details><summary>**Other single responses** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<span class="text_list">
<p>

* where do you want me to start?
* training for martial arts
* This is a bit open isn't it
* sword appraisal
* sports training
* Sports Science
* Self help
* Psychology/sociology of violence
* Psychology.
* Psychology of violence
* Physical training/stretching in relation to martial arts
* on Systema
* No.
* Military training methods / manuals
* Kata
* Japanese history
* I have a book which is my organisations syllabus anything else I tend to read online
* fitness books
* famous martial artists
* Detailed study of kata
* Criminology
* Chinese martial arts
* Biomechanics
* and blog collections (see Jesse Enkamps work).

</p>
</span>
</details>