<div id="age" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

<script>
    Highcharts.chart('age', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        legend: {
            align: 'right',
            verticalAlign: 'middle',
            layout: 'vertical',
            labelFormatter: function () {
                return '<span style="color:' + this.color + '">' + this.name + ': </span><span style="font-weight: normal">' + this.y + ' (' + Math.round(this.percentage * 10) / 10 + '%)' + '</span><br/>';
            }
        },
        title: {
            text: 'Age'
        },
        tooltip: {
            headerFormat: '<b>{point.key}</b><br/>',
            pointFormat: '{series.name}: <b>{point.y}</b> <br/> Percentage: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '{point.name}',
                    distance: -50,
                    filter: {
                        property: 'percentage',
                        operator: '>',
                        value: 4
                    }
                }
            }
        },
        series: [{
            name: 'Count',
            colorByPoint: true,
            data: [{
                name: 'Under 18',
                y: 9,
                sliced: true,
            }, {
                name: '18-25',
                y: 30
            }, {
                name: '25-35',
                y: 48
            }, {
                name: '35-45',
                y: 103
            }, {
                name: '45-55',
                y: 138
            }, {
                name: '55-64',
                y: 52
            }, {
                name: '65 and over',
                y: 10
            }],
            showInLegend: true,
            dataLabels: {
            enabled: false
        }
        }]
    });
</script>