<canvas id="doughnut-chart" width="800" height="450"></canvas>

<script>
    new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {
        labels: ["Under 18", "18 - 25", "25 - 35", "35 - 45", "45 - 55", "55 - 64", "65 and over"],
        datasets: [
            {
            label: "Count",
            backgroundColor: ["#a19ad1", "#8fc2df","#c2e0ae","#efefa8","#edcb9c","#d99ca5","#9bd9d9"],
            data: [9,30,48,103,138,52,10]
            }
        ]
        },
        options: {
        title: {
            display: true,
            text: 'Age'
        }
        }
    });
</script>