<details><summary>**Other single responses** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<p>

* 1976 hard back book in local library
* A club was offered at my secondary school
* A family focused club where adults and children can train together
* Advert in local paper
* Although club was close
* and at the age of 6-8 i didn't know the difference
* and when i started i did not know there were different styles (Bruce Lee was in the inspiration
* Close to ju jitsu
* Closest available style to the art I'd started out in
* Club changed from kickboxing to sport karate (kumite)
* didnt know there were different syles at the time
* Emphasis on practical self defence and NOT sport
* Family based atmosphere and everyone was very interactive
* Family friend
* Family selection
* Father studied under Suzuki
* Flexible training options
* Followed my Sensei when he opened a new karate club
* happily turned out to be a fantastic club run for the art
* I had been a fan of Lyoto Machida(UFC Fighter) and knowing he came from a JKA background influenced my decision.
* I joined with my son who was 10 and was able to attend in my absence which was useful
* i just wanted to do something "like that")
* I train with my children once a week
* I tried numerous martial arts before karate
* I wanted to train in a style that was taught by a world band master
* I was supporting someone else who wanted to go to this dojo.
* I worked with the instructor
* Instructor I knew was an extremely god teacher and the club was very friendly.
* Instructor inspired me to change for the better when I was a teenager. Left due to work commitments
* Instructor was recommended
* It picked me
* it was the only club for miles!
* It was the University Karate Club's style
* It was what was available in travelling distance in 1977
* Judo instructor took us there
* My dad settled on this club and style after looking around.
* Not a lot to choose from back then
* only club about at the time
* ONLY CLUB AROUND
* Originally started as the dojo was opposite my house
* Parents chose it - i was 7 yrs old when i started.
* Parents took me as a child
* profit reinvested and a sensei that has regional recognition for services to sport (club was close was factually correct but it would be a gross injustice)
* Random choice - i knew nothing about different styles.
* returned in 30s when work changed pattern.
* Same style I trained in as a child
* Seemed to suit me best at that particular dojo.
* Son started training and I could see the style would blend well with my jujitsu
* Started age 12. I didnt realise there were mpre than one style at the time.
* Started in 1973
* Strong based
* Tried out several clubs and this seemed to me at 13 to be the best
* Tried Shokan and Goju-Ryu before but Wado suited me best. Also tried kick boxing and aikido.
* University club
* Was thinking about starting karate,and we had someone knock on the door

</p>
</details>