<details><summary>**Other single responses** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<p>

* Anshin Ryu
* Both goju and shotakan 
* Bushido ryu
* Chito-Ryu Karate Do
* Doryoku-Ryu
* Freestyle (Korean based)
* Freestyle Karate (wado/kickboxing mix)
* Funakoshi Shotokan 
* Goju-ryu mix with shotokan
* HIDY OCHAI   WASHIN RYU
* Higashi
* Iain Abernethy style
* Jutsu Kai
* Kaizenkan
* Karate jitsu
* Karate jutsu
* Karate-do as defined by Sensei Funakoshi 
* Kenpo & Tai Chi
* kimura shukokai 
* Kumité 
* mixture of Goju-Ryu and Shotokan
* Originally shotokan but try not to limit myself to a style
* Ryubo Kai Karate
* Seido Juku
* Shin ai do 
* Shindo Jinen Ryu 
* Shotokai 
* Style is combo of Shotokan and Okinawan kempo
* Tode Jutsu
* Tsuen Mo Luen
* Variation of shotokan and goju-ryu

</p>
</details>