<div class="divTable">
    <div class="divTableBody">
    <div class="divTableRow">
    <div class="divTableHead">Response</div>
    <div class="divTableHead">Count</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">Under 18</div>
    <div class="divTableCellCount">9</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">18-25</div>
    <div class="divTableCellCount">30</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">25-35</div>
    <div class="divTableCellCount">48</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">35-45</div>
    <div class="divTableCellCount">103</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">45-55</div>
    <div class="divTableCellCount">138</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">55-64</div>
    <div class="divTableCellCount">52</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">65 and over</div>
    <div class="divTableCellCount">10</div>
    </div>
    </div>
    </div>