<div class="divTable">
    <div class="divTableBody">
    <div class="divTableRow">
    <div class="divTableHead">Style</div>
    <div class="divTableHeadCount">Count</div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">Shotokan</div>
        <div class="divTableCellCount">167</div>
        </div>
    <div class="divTableRowAlt">
        <div class="divTableCell">Wado-Ryu</div>
        <div class="divTableCellCount">78</div>
        </div>
    <div class="divTableRow">
        <div class="divTableCell">Goju-Ryu</div>
        <div class="divTableCellCount">35</div>
        </div>
    <div class="divTableRowAlt">
        <div class="divTableCell">Shito-Ryu</div>
        <div class="divTableCellCount">21</div>
        </div>
    <div class="divTableRow">
        <div class="divTableCell">Go Kan Ryu</div>
        <div class="divTableCellCount">11</div>
        </div>
    <div class="divTableRowAlt">
        <div class="divTableCell">Kyokushin</div>
        <div class="divTableCellCount">10</div>
        </div>
    <div class="divTableRow">
        <div class="divTableCell">Tang Soo Do</div>
        <div class="divTableCellCount">9</div>
        </div>
    <div class="divTableRowAlt">
        <div class="divTableCell">Shukokai</div>
        <div class="divTableCellCount">9</div>
        </div>
    <div class="divTableRow">
        <div class="divTableCell">Shukokai </div>
        <div class="divTableCellCount">7</div>
        </div>
    <div class="divTableRowAlt">
        <div class="divTableCell">Gkr</div>
        <div class="divTableCellCount">5</div>
        </div>
    <div class="divTableRow">
        <div class="divTableCell">Freestyle Karate </div>
        <div class="divTableCellCount">4</div>
        </div>
    <div class="divTableRowAlt">
        <div class="divTableCell">Sankukai</div>
        <div class="divTableCellCount">2</div>
        </div>
    </div>
    <div class="divTableRow">
        <div class="divTableCell">Other</div>
        <div class="divTableCellCount">32</div>
        </div>
    </div>
</div>