<div class="divTable">
    <div class="divTableBody">
    <div class="divTableRow">
    <div class="divTableHead">Response</div>
    <div class="divTableHeadCount">Count</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">5th Kyu to 1st Kyu</div>
    <div class="divTableCellCount">20</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">Beginner to 5th Kyu</div>
    <div class="divTableCellCount">69</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">1st Dan</div>
    <div class="divTableCellCount">87</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">2nd Dan</div>
    <div class="divTableCellCount">63</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">3rd Dan</div>
    <div class="divTableCellCount">55</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">4th Dan</div>
    <div class="divTableCellCount">41</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">5th Dan or above</div>
    <div class="divTableCellCount">55</div>
    </div>
    </div>
</div>
