<div class="divTable">
    <div class="divTableBody">
    <div class="divTableRow">
    <div class="divTableHead">Response</div>
    <div class="divTableHeadCount">Count</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">0-10</div>
    <div class="divTableCellCount">125</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">10-20</div>
    <div class="divTableCellCount">112</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">20-30</div>
    <div class="divTableCellCount">74</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">30-40</div>
    <div class="divTableCellCount">53</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">40+</div>
    <div class="divTableCellCount">26</div>
    </div>
    </div>
</div>