<div class="divTable">
    <div class="divTableBody">
    <div class="divTableRow">
    <div class="divTableHead">Response</div>
    <div class="divTableHeadCount">Count</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">No - never</div>
    <div class="divTableCellCount">142</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">Not presently, but have done previously</div>
    <div class="divTableCellCount">170</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">Yes</div>
    <div class="divTableCellCount">78</div>
    </div>
    </div>
</div>
