<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableHead">Response</div>
<div class="divTableHeadCount">Count</div>
</div>
<div class="divTableRow">
<div class="divTableCell">East Midlands</div>
<div class="divTableCellCount">21</div>
</div>
<div class="divTableRowAlt">
<div class="divTableCell">East of England</div>
<div class="divTableCellCount">34</div>
</div>
<div class="divTableRow">
<div class="divTableCell">Greater London</div>
<div class="divTableCellCount">22</div>
</div>
<div class="divTableRowAlt">
<div class="divTableCell">North East</div>
<div class="divTableCellCount">19</div>
</div>
<div class="divTableRow">
<div class="divTableCell">North West</div>
<div class="divTableCellCount">32</div>
</div>
<div class="divTableRowAlt">
<div class="divTableCell">Northern Ireland</div>
<div class="divTableCellCount">6</div>
</div>
<div class="divTableRow">
<div class="divTableCell">Scotland</div>
<div class="divTableCellCount">31</div>
</div>
<div class="divTableRowAlt">
<div class="divTableCell">South East</div>
<div class="divTableCellCount">80</div>
</div>
<div class="divTableRow">
<div class="divTableCell">South West</div>
<div class="divTableCellCount">48</div>
</div>
<div class="divTableRowAlt">
<div class="divTableCell">Wales</div>
<div class="divTableCellCount">31</div>
</div>
<div class="divTableRow">
<div class="divTableCell">West Midlands</div>
<div class="divTableCellCount">33</div>
</div>
<div class="divTableRowAlt">
<div class="divTableCell">Yorkshire and the Humber</div>
<div class="divTableCellCount">27</div>
</div>
<div class="divTableRow">
<div class="divTableCell">Rather not say</div>
<div class="divTableCellCount">6</div>
</div>
</div>
</div>