<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableHead">
                Response
            </div>
            <div class="divTableHead">
                Count
            </div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">
                Assistant club instructor
            </div>
            <div class="divTableCellCount">
                79
            </div>
        </div>
        <div class="divTableRowAlt">
            <div class="divTableCell">
                Association Head / Chief Instructor
            </div>
            <div class="divTableCellCount">
                66
            </div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">
                Club instructor
            </div>
            <div class="divTableCellCount">
                100
            </div>
        </div>
        <div class="divTableRowAlt">
                <div class="divTableCell">
                    Student
                </div>
                <div class="divTableCellCount">
                    192
                </div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">
                Independent examiner visiting instructor 
            </div>
            <div class="divTableCellCount">
                1
            </div>
        </div>
        <div class="divTableRowAlt">
            <div class="divTableCell">
                Instructor in absentia: not currently teaching
            </div>
            <div class="divTableCellCount">
                1
            </div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">
                Joint founder & grading panel member.
            </div>
            <div class="divTableCellCount">
                1
            </div>
        </div>
        <div class="divTableRowAlt">
            <div class="divTableCell">
                Program Director
            </div>
            <div class="divTableCellCount">
                1
            </div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">
                Retired through injury
            </div>
            <div class="divTableCellCount">
                1
            </div>
        </div>
        <div class="divTableRowAlt">
            <div class="divTableCell">
                Ronin Instructor. Tend to 'fill in' and do private lessins
            </div>
            <div class="divTableCellCount">
                1
            </div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">
                Secretary
            </div>
            <div class="divTableCellCount">
                1
            </div>
        </div>
        <div class="divTableRowAlt">
            <div class="divTableCell">
                Shibu cho
            </div>
            <div class="divTableCellCount">
                1
            </div>
        </div>
        <div class="divTableRow">
            <div class="divTableCell">
                Student but also teach a bit
            </div>
            <div class="divTableCellCount">
                1
            </div>
        </div>
    </div>
</div>
