<div class="divTable">
    <div class="divTableBody">
    <div class="divTableRow">
    <div class="divTableHead">Response</div>
    <div class="divTableHeadCount">Count</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">1</div>
    <div class="divTableCellCount">41</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">2</div>
    <div class="divTableCellCount">123</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">3</div>
    <div class="divTableCellCount">85</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">4</div>
    <div class="divTableCellCount">32</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">5</div>
    <div class="divTableCellCount">33</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">6</div>
    <div class="divTableCellCount">10</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">7</div>
    <div class="divTableCellCount">16</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">8</div>
    <div class="divTableCellCount">2</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">9</div>
    <div class="divTableCellCount">0</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">10</div>
    <div class="divTableCellCount">7</div>
    </div>
    </div>
</div>