<div class="divTable">
    <div class="divTableBody">
    <div class="divTableRow">
    <div class="divTableHead">Response</div>
    <div class="divTableHeadCount">Count</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">1</div>
    <div class="divTableCellCount">63</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">2</div>
    <div class="divTableCellCount">280</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">3</div>
    <div class="divTableCellCount">333</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">4</div>
    <div class="divTableCellCount">112</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">5</div>
    <div class="divTableCellCount">145</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">6</div>
    <div class="divTableCellCount">54</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">7</div>
    <div class="divTableCellCount">14</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">8</div>
    <div class="divTableCellCount">8</div>
    </div>
    <div class="divTableRow">
    <div class="divTableCell">9</div>
    <div class="divTableCellCount">0</div>
    </div>
    <div class="divTableRowAlt">
    <div class="divTableCell">10</div>
    <div class="divTableCellCount">70</div>
    </div>
    </div>
    </div>