<table style="background: none;">
    <tr>
        <td>
            Under 18
        </td>
        <td style="text-align: right;">
            9
        </td>
    </tr>
    <tr>
        <td>
            18-25
        </td>
        <td style="text-align: right;">
            30
        </td>
    </tr>
    <tr>
        <td>
            25-35
        </td>
        <td style="text-align: right;">
            48
        </td>
    </tr>
    <tr>
        <td>
            35-45
        </td>
        <td style="text-align: right;">
            103
        </td>
    </tr>
    <tr>
        <td>
            45-55
        </td>
        <td style="text-align: right;">
            138
        </td>
    </tr>
    <tr>
        <td>
            55-64
        </td>
        <td style="text-align: right;">
            52
        </td>
    </tr>
    <tr>
        <td>
            65 and over
        </td>
        <td style="text-align: right;">
            10
        </td>
    </tr>
</table>