<details><summary>**Other single responses** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<p>

* Anshin Ryu
* Both Goju and Shotakan 
* Bushido Ryu
* Chito-Ryu Karate Do
* Doryoku-Ryu
* Freestyle (Korean based)
* Freestyle Karate (wado/kickboxing mix)
* Funakoshi Shotokan 
* Goju-Ryu mix with Shotokan
* Gokanryu
* Hidy Ochai Washin Ryu
* Higashi
* Iain Abernethy style
* Jutsu Kai
* Kaizenkan
* Karate jitsu
* Karate jutsu
* Karate-do as defined by Sensei Funakoshi 
* Kenpo & Tai Chi
* Kimura Shukokai 
* Kumité 
* Mixture of Goju-Ryu and Shotokan
* Originally Shotokan but try not to limit myself to a style
* Ryubo Kai Karate
* Seido Juku
* Shin ai do 
* Shindo Jinen Ryu 
* Shotokai 
* Style is combo of Shotokan and Okinawan Kempo
* Tode Jutsu
* Tsuen Mo Luen
* Variation of Shotokan and Goju-Ryu

</p>
</details>