<details><summary>**Please list any further details or additional elements not listed in the question above and indicate where they appear corresponding with the above choices** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<p>

* I teach different for children and adults...I have said no to items we don’t do regularly. We also drill on non JKA style techniques as well as pressure point work
* Situational awareness
* We have elements unique to our system 
* Scenario training involving non physical response opportunities. Use of force and the Law (syllabus and practical interpretation in scenario training).
* Tameshiwari (board breaking) is done as a "birthday treat"
* Lighted candle extinguishing 
* Free fighting which is non contest type fighting pretty much like MMA
* Training against HAPV.  Grappling 
* One step and three step sparring techniques are taught and graded
* We have developed kata Ohyo and published these: Wadoryu Karate Ohyo Kata: Pinan and Intermediary
* Mikiwara 100 strikes per side , some kicking .. No protective gear allowed in class. 
* Stretching
* We regularly host visiting sensei's that bring there own specialist areas to supplement traditional training methods so the answers would be fluid over time. 
* We typically work on shobu-ippon competition methods as opposed to WKF. Our competitions we participate in are primarily using WUKF rules. 
* Mobility/flexibility training.
* The karate classes I attend train in take downs but not in throws
* Kata based sparring and bunkai drills as well as self protection is taught in the classes I teach but is not part of the formal syllabus of the wider grouo
* Makiwara
* Only got the first three columns. Dan grades have the same broad requirements as kyu grades, but over a longer grading and to a higher standard.
* I structure the club training sessions according to the abilities and ambitions of the group
* Hojo Undo - traditional strength training for adults class
* N/A
* "Flexibility training, taught in class + practise at home.
* Also, phone users can change to landscape mode to see all 6 columns in this question by tilting their phone sideways (I just did this)."
* Self defence
* Additional elements include kyusho (which ties in with some bunkai and other drills). We also cover some basic anatomical explanation for certain techniques/principles (to suit certain age and ability groups).
* Alternative form of competition sparring: Shobu Ippon kumite (shotokan)
* WKF Competition Kumite
* My karate instructor is also a traditional Jiu Jitsu instructor, so the sessions often blend to include throws, locks, and groundwork.
* Sai is taught at 4th Dan but I wasn't allowed to to select the correct box.
* There maybe be other weapons taught at higher grades I am not aware of
* Guest instructors from other styles, one-off bunkai lessions
* Weapons: Tonfa, Kama, Nunchaku
* Jujitsu and kick boxing techniques sometimes used to make training less predictable.  
* Zazen - training beyond the dojo
* Light contact, full contact, K1, low kick and MMA sparring   Light and Full contact competition level fighting to international level. 
* Hojo Undo
* One step is trained. Strength/conditioning techniques are taught. 
* Should have a don’t know option. I’ve no idea what’s in dan grades etc or indeed what I simply haven’t any experience in due to grade
* General self defence
* Light sparring, any target. Continuous sparring (grappling allowed)
* several levels of sparring including 'hands only' and 'hands and feet' at different levels in grading syllabus
* Ground positions and transitions 
* Tanto dori
* Noted we train WKF style kumite and JKA/Ippon stlye kumite. They separate the classes so i thought Id put them down separately 
    
</p>
</details>