<script type="text/javascript">
    function drawChartTrainOthers() {
        var query = new google.visualization.Query('https://docs.google.com/spreadsheets/d/1ARbWwIZzN9dd3Nwfzt8Qp2hzZ2Khaq_tfU0nW1pHG74/gviz/tq?gid=1067944612&sheet=PTTrainOthers');
        query.setQuery('select A, B');
        query.send(drawTrainOthersResults);
    }

    function drawTrainOthersResults(response) {
        if (response.isError()) {
        alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
        return;
        }

        var data = response.getDataTable();

        var options = {
            hAxis: {
                minValue: 0
            },
            legend: { position: "right" }
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart-TrainOthers'));

        chart.draw(data, options);
    }
</script>