<details><summary>**If no, why not?** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<span class="text_list">
<p>

* I don’t believe there is much value to me in sharing videos publicly.
* On the page i am on people take ur ideas and post them on YouTube as there own 
* The keyboard warriors annoy me and waste my time.
* Confidence
* Barely have time to train at all these days never mind video it and post it.
* Just never have
* closed group 
* Very rarely, however I rarely share anything back on
* Mainly finding the time 
* Videos are for students of my club and are instructional only. I fear that social media has alot of negativity and one up manship
* Would rather upload good quality content than a random, unedited session on joint locks. 
* Not confident 
* Shy :)
* Karate-do must be felt and experienced to understand "properly". 
* Videos need to be analysed for accuracy. You need to take ownership  and  responcibiliy for what you teach others.
* Arm chair warriors making annoying ill informed comments
* Not experienced enough
* Not experienced enough
* not good enough!
* I don't feel I am at a level that would make these useful to anybody. Yet. 
* Not good enough 
* Not something i have ever considered doing
* don’t feel good enough
* It is mostly for my instructor for feedback or for myself as a reference point for remembering a kata. 
* Do not think I know enough 
* Never filmed any 
* No reason too
* N/A
* Humility is important. I train for myself, not the internet.
* Don't want to give trolls chance to put off future students 
* They are for personal use
* Haven't tried yet
* Keyboard warriors!!
* I don’t understand why I should share my videos
* No real reason just not something i have done 
* Don't feel comfortable sharing them
* No original content to share
* My grandfather always said if your good at something don't give it away for free lol
* Not my thing
* Don't feel the need. 
* Don't have any
* I feel that my training methods are not what other people would work with
* Prefer not to post vids of students
* Not interested
* MY KARATE IS MY OWN,  I WANT ONLY REALISTIC TRAINING
* They are usually for either me to evaluate something in particular, my peers to check and criticise something in particular, or for my students to use as reference material.
* No want public domain
* For S
* My business my training 
* They are on our own intranet not public platforms
* Too many online critiques IMO
* Too much censorship and an almost cult like “that’s not wado” belief in a limited skill set 
* Personal decision
* For benefit of younger members 
* Club posts sometimes so never had the need for my own
* No need really 
* Private Google folder for trusted individuals/instructors
* No want public domain
* Not sure I am qualified enough to put videos on the internet, i need more training
* May not link 
* Too self conscious 
* Time 
* Not relevant
* I used to when I was not working in a professional government job - internet and social media use has had to change drastically
* No particular reason
* I dont feel I can contribute yet, but do ask questions
* Because I am my own worst critic 
* They are private for training in the dojo only. 
* N/a
* Not that sort of guy
* The thought never crossed my mind/ not a fan of social media
* For what purpose?
* Children 
* There are enough videos to learn from and perhaps when I feel I have something to offer which isn’t provided for I will post applicable videis.
* I like the time to produce the content to the quality I would like. I do share videos privately within our Yudansha 
* Its for self defence not to show off
* Private
* Still too you and learning
* Never felt the need to /others have recorded me and posted tho 
* Not greatly impressed with a lot of karate YouTube videos and I doubt anyone would be impressed by mine
* Still too you and learning
* Not good enough yet !!
* Don’t video myself. Will share if it is good for the club 
* Never done it
* The group it is posted in is a private group. 
* Not really into making videos
* For private viewing.
* I don’t take videos at all
* I would prefer to share with those I know i can take advice from, training partners, coaches etc. 

</p>
</span>
</details>