<details><summary>**If yes please elaborate on what that is** <br/><span style="font-size: 12px">`Click to (expand / collapse)`</span></summary>
<span class="text_list">
<p>

* External Seminars
* That sort of gives away the anonymity thing a bit :-) I am part of a peer review based study group. 
* Whatever interests me
* Bunkai Bastards technically...
* Have a small circle of instructors that share ideas and get together to train and pressure test concepts, ideas etc.
* I regularly discuss topics with members of our international group
* Bunkia bash applied karate seminars
* Occasionally train 3k
* I attend other, more practical classes that are further away
* I teach for many groups
* Founding member of the Bunkai Bastards which is a peer review group where topics are set and members of the group submit videos for the group to discuss.
* Part of loosely-affiliated group of practically-minded martial artists who get together a few times a year to share ideas
* HAVOC (International JKD, Kickboxing, Muay Thai, Karate, Ju Jitsu and wrestling group) and Aodenkoukai (International multi-style research group).
* I post videos as part of a wider collective where we are set a task to complete and we then film our answers and upload them for the group to see, try out etc.
* Seminars and visiting other more practical clubs
* Bunkai bastards and attend many external seminars.
* I train whenever i can with people like Iain Abernethy
* Select seminars
* Jka England squad
* One off special events
* Personal 1-21 training with higher grades
* Visiting instructor globally 
* Bunkai Bash
* Courses and enhanced training offered by other clubs
* A group of peers who have trained with and competed against for a number of years who now support each other with course etc.  The group is known as the Kumite Kai and we often train with each other 
* Various instructor groups that get together. Othe CPOs to cross train 
* Train and teach in Europe on multi-discipline courses
* Applied karate seminars
* Teaching Sr's 
* Regular training with fellow instructors. 
* other clubs where friends teach or train
* National squad training
* Member of two national associations
* Recently started cross training in Wado Ryu, with another club. 
* Minnesota Kali Group
* I train whenever I can at seminars and at another instructors Doji. I also travel for work and frequently ask if I can train at other clubs when I do. 
* Karate nerd 
* We work with other Dojo/associations on camps, seminars and our own events are always open. 
* Seminars, and regular get together with friends who study other martial arts
* I train jujitsu and have many friends in other styles who I cross train with including Brazilian jujitsu, aikido, Muay Thai and kung fu. 
* Have done seminars for other clubs
* karate association in university
* Competition and squad trainings, some seminars
* Different kyokushin organisations 
* We train with other clubs of various styles to improve our knowledge
* An online martial arts course 
* Train at other clubs occasionally
* Iain Abernethy seminars
* Iain Abernathy course 
* Attend various seminars
* I have attended some external karate seminars, Iain Abernathy, Rick Hotton, and attended some practical cross-training groups. I also attend Aikido classes.
* Just local clubs that teach different arts, not really into too much association type stuff as it feels quite political at times. 
* Iain Abernethy seminars
* Friends sharing knowledge 
* Study group
* Group of like minded students learning practical bunkai & attending seminars together
* We often train with or invite in other clubs and attend, run courses of people we are not associated to. 
* Seminars
* I have a network of like-minded instructors throughout the UK and further afield that i take every opportunity to meet with and train and share  
* Theres a group of matial artists in the local area from varying clubs who get together to train with eachother once a month for a few hours 
* sparring group
* Regular private training
* Attend various courses Karate and self defence based
* Seminars, training camps
* Koryu Uchinadi Kenpo jutsu under Hanshi Patrick McCarthy  9th Dan
* Attend seminas training
* National Squad 
* I regularly link up with a local Shotokan school who I've developed a great relationship with after attending some courses and seminars. I also train with a buddy who does Wing Chun and is a prison warden. I try to attend the dojo of friends and people I've fostered good relationships with when I travel. I try to get in some time with my MMA buddies when time allows.
* We have joint dan tradings, regular joint training sessions and an annual inter club with another local shotokan club. Instructors and high grades often train at both clubs.
* We are part of European Chito-Ryu Group and International Chito-Ryu Karate Federation (ICKF) 
* With local other style clubs
* A very large, if informal, group of us get together to drill various bits and pieces
* local higher-graded teacher visits our club once a month (and oversees gradings) and I attend his black belt training once a month or more.
* I also train in Wado Ryu and engage online
* Groups abroad associated to our international parent association
* Fitness class on pads with other martial artists 
* Judo and Suples Bulgarian Bag. High Wycombe
* A shared desire to learn beyond our own syllabus has led a group of my friends and me to seek out seminars offering what our syllabus is lacking as well as regularly getting together to practice what we've gained from these semniars
* Applied shotokan karate organisation.
* Guest instructors come to our club. Invited to seminars hosted by other clubs.
* Kick boxing
* WKU England Traditional Karate Team.
* FMA class with small weapons once per month
* Friends from other styles meet up.
* Work with a local Shotokan club 
* University Karate Club
* Train with other groups and associations
* BCKA
* I train with like minded individuals from other clubs without politics. 
* I teach at various different camps in Europe. Krav, Ashihara, Kyokushin, BJJ etc.
* With local other style clubs
* Bunkai. Bastards
* Positive handling, physical intervention, self defence, conflict management 
* Closely associated with Shotokai groups in uk, Italy and Japan
* Scouting 
* Train multiple clubs
* There is a London group. A sister group which we interract with.
* I attend external seminars and do military and law enforcement self-defence and restraint techniques.
* Seminars by guests 
* Mentor 2 other separate Club instructors. 
* Ian Abernethy seminar, though just one so far. Hoping to attend more
* We train with Iain Abernethy for bunkai and Julian Mead for Ryukyu Kobujitsu and Yuishinkai Karate 
* Jutsu with Terry wingrove. Kabudo and a little kickboxing
* Train with Kali and JKD groups
* Occasionally attend seminars run by other clubs and styles.
* Tutor for martial arts coaching qualifications. Academic study at MSc level with other Judo coaches
* Many martial arts groups 
* Scenario 
* Yearly trips to Ireland to teach a weekend seminar at an associate's club with our own head of club
* Teach on wider seminar circuit. SENI, WOSW, etc.
* Seminar / workshops
* We are actively encouraged to cross train and bring in new ideas. I try to regularly train at seminars and courses that expose me to new ideas. 
* Ikkaido 
* Clubs offering more practical karate
* Occupational aggression and violence reduction training in healthcare
* Extratraining
* Linked to other clubs for regular joint sessions
* I visit various clubs not connected with my association, simply to stand in the line and make sure I can still cut it.
* We invite guest instructors from other styles and arts (eg aikido, sport karate, kendo) to broaden our understanding. We're open to adopting anything pragmatic 
* Get together with other stylists in my area to share knowledge. Also take part in regular grappling open mats to experience different grappling view points.
* I'm a bastard and a secret starfish
* Small group of people who train in 'traditional' 3K karate, but who meet once a week to train in practical applications, grappling, throwing, etc..
* Ian Abernethy’s forum
* Bunkai Bash 
* Bunkai bash. 
* Bunkai bash, kata based sparring
* Group training with others from different martial backgrounds. Sharing ideas and methods. 
* Seminars, weekends, residential,Bunkai bash
* Technical advisor to a number of associations on personal protection 
* Train with other associations locally and styles. Regularly. 
* British kendo association 
* I train with a group of friends who all train in different martial arts. We meet to train and spar at another local club. 
* KU study groups

</p>
</span>
</details>