<script type="text/javascript">
    function drawTableYearsTraining() {
        var query = new google.visualization.Query('https://docs.google.com/spreadsheets/d/1ARbWwIZzN9dd3Nwfzt8Qp2hzZ2Khaq_tfU0nW1pHG74/gviz/tq?gid=1067944612&sheet=PTyearstraining');
        query.send(drawYearsTrainingTabResults);
    }

    function drawYearsTrainingTabResults(response) {
        if (response.isError()) {
        alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
        return;
        }

        var data = response.getDataTable();
        data.setProperty(0, 0, 'style', 'width:100%');
        data.setProperty(0, 1, 'style', 'width:20%');

        var options = {
            showRowNumber: false,
            allowHtml: true
        }

        var table = new google.visualization.Table(document.getElementById('table-yearstraining'));

        table.draw(data, options);
    }
</script>